/* .serviceCard {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr)); 
    display: flex; 
    flex-wrap: wrap;
}

.card{
    width: 250px;
    height: 300px;
    margin-bottom: 80px;
}
.card img{
    width: 100%;
    height: 50%;
    margin-bottom: 40px;
} */

/* service.css */

.serviceWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .serviceCard {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px;
    margin-top: 20px;
  }
  
 
  .card {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
 
  .card h3 {
    margin-top: 0;
  }
  
  .card p {
    margin-bottom: 0;
  }
  
  .card img {
    width: 100%;
    margin-top: 30px;
    border-radius: 5px;
  }
  