.formWrap {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .form-container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
  }
  
  h2 {
    margin-bottom: 20px;
    color: #23408e;
  }
  
  .form-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #23408e;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .form-button {
    background-color: #6fff00;
    color: #23408e;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .form-button:hover {
    background-color: #23408e;
    color: #6fff00;
  }
.bttns{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.google{
  background-color: white;
  color: #23408e;
  border: 2px solid #23408e;

}
.google:hover{
  background-color: #6fff00;
 
}
.googleIcon{
  width: 25px;
  height: 25px;
  margin-top: 17px;

}
.buttonContent{
  display: flex;
  gap: 20px;
  padding: 0;
}
  .signUp{
    color: #23408e;
    text-align: right;
    font-size: small;
    cursor: pointer;
    
  }
  .error-message {
    color: red;
    margin-bottom: 10px;
  }
  