/* Hero.css */

.heroWrapper {
  position: relative;
  width: 100%;
  height: 100vh; /* Full viewport height for hero section */
  overflow: hidden;
}

.heroWrapper img {
  width: 100%;
  height: 100%; /* Cover the entire hero section */
  object-fit: cover; /* Ensure the image covers the area without distortion */
}

.heroLeft {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  z-index: 1;
  padding:10px;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background for readability */
  border-radius: 10px;
}

.heroLeft h1 {
  font-size: 2.5rem; /* Responsive font size */
  margin-bottom: 20px;
}

.heroLeft p {
  font-size: 1.125rem; /* Responsive font size */
  margin-bottom: 30px;
}

.heroBtn {
  padding: 10px 20px;
  background-color: #23408e;
  color: #6fff00;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transition for hover effect */
}

.heroBtn:hover {
  background-color: #1b2e6f;
}

/* Media query for tablets and smaller screens */
@media (max-width: 768px) {
  .heroWrapper {
    height: auto; /* Allow height to adjust */
  }

  .heroWrapper img {
    height: auto; /* Adjust height for smaller screens */
  }

  .heroLeft h1 {
    font-size: 2rem;
  }

  .heroLeft p {
    font-size: 1rem;
  }

  .heroBtn {
    font-size: 0.875rem;
    padding: 10px 15px;
  }
}

/* Media query for mobile screens */
@media (max-width: 480px) {
  .heroWrapper {
    height: auto; 
  }

  .heroWrapper img {
    width: 100%;
   height: 100%;
    object-fit: cover;
    object-position: center top; 
  }

  .heroLeft {
    width: 70%;
    height: auto;
    padding: 10px;
  }

  .heroLeft h1 {
    font-size: 0.9rem;
  }

  .heroLeft p {
    font-size: 0.775rem;
  }

  .heroBtn {
    font-size: 0.75rem;
    padding: 8px 12px;
  }
}
